/HelloWorld/target/
/PrimeiroPrograma/target/
/HoraDoSistema/target/
/IdiomaSistema/target/
/ResolucaoTela/target/
/Swing/target/
/HelloWorldSwing/nbproject/private/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/PrimeiroProgramaOLD/target/
/ResolucaoTelaOLD/target/
/primeiroprograma/nbproject/private/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/HelloWorldSwing/build/
/JavaFXApplication1/nbproject/private/
/HelloWorldJavaFX/nbproject/private/
/HelloWorldJavaFX/dist/
/HelloWorldJavaFX/build/
/HelloWorldSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSistema/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TiposPrimitivos/dist/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSwing/dist/
/Exe01_SomaNumero/nbproject/private/
/Exe01_SomaNumero/build/
/Exe01_SomaNumero/dist/
/Exe01_MediaNotas/nbproject/private/
/Exe01_MediaNotas/build/
/Exe02_MediaNotas/nbproject/private/
/Exe02_MediaNotas/build/
/Exe03_SomaQuadrado/nbproject/private/
/Exe03_SomaQuadrado/build/
/Exe04_MetrosCentimetros/nbproject/private/
/Exe04_MetrosCentimetros/build/
/Exe05_DobroAreaQuadrado/nbproject/private/
/Exe05_DobroAreaQuadrado/build/
/Exe06_SalarioFuncionario/nbproject/private/
/Exe06_SalarioFuncionario/build/
/Exe07_AlturaPessoa/nbproject/private/
/Exe07_AlturaPessoa/build/
/Exe08_ConversorKm/nbproject/private/
/Exe08_ConversorKm/build/
/Exe09_ReajusteSalario/nbproject/private/
/Exe09_ReajusteSalario/build/
/Exe10_RedimentoPoupanca/nbproject/private/
/Exe10_RendimentoPoupanca/nbproject/private/
/Exe10_RendimentoPoupanca/build/
/Exe11_QuocienteResto/nbproject/private/
/Exe11_QuocienteResto/build/
/Exe12_KgGr/nbproject/private/
/Exe12_KgGr/build/
/Exe13_Alunos/nbproject/private/
/Exe13_Alunos/build/
/Exe14_RendimentoTaxi/nbproject/private/
/Exe14_RendimentoTaxi/build/
/SENAI/Exe15_LojaBicicletas/nbproject/private/
/SENAI/Exe15_LojaBicicletas/build/
/SENAI/Exe13_Alunos/dist/
/SENAI/Exe16DecomporNumero/nbproject/private/
/SENAI/Exe16DecomporNumero/build/
/SENAI/Exe16DecomporNumero/dist/
/SENAI/Exe04/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe04/build/
/CURSOEMVIDEO/Tipos/nbproject/private/
/CURSOEMVIDEO/Tipos/build/
/SENAI/2_CONDICIONAIS/PrepProva01/nbproject/private/
/SENAI/2_CONDICIONAIS/PrepProva01/build/
/SENAI/2_CONDICIONAIS/PrepProva01/dist/
/SENAI/2_CONDICIONAIS/Aula06_09/nbproject/private/
/SENAI/3_INTRO_JAVA/Aula06_09/nbproject/private/
/SENAI/3_INTRO_JAVA/Aula06_09/build/
/SENAI/3_INTRO_JAVA/Aula06_09/dist/
/SENAI/2_CONDICIONAIS/Exe20_Maioridade/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe20_Maioridade/build/
/SENAI/2_CONDICIONAIS/Exe23_PermissaoEntrada/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe24_MaiorValor/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe24_MaiorValor/build/
/SENAI/2_CONDICIONAIS/Exe24_MaiorValor/dist/
/SENAI/2_CONDICIONAIS/Exe27_QuadradoCubico/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe27_QuadradoCubico/build/
/SENAI/2_CONDICIONAIS/Exe27_QuadradoCubico/dist/
/SENAI/2_CONDICIONAIS/Exe28_VogalSubsequente/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe28_VogalSubsequente/build/
/SENAI/2_CONDICIONAIS/Exe28_VogalSubsequente/dist/
/SENAI/2_CONDICIONAIS/Exe29_Meses/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe30_SomaMultiplicacao/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe30_SomaMultiplicacao/build/
/SENAI/2_CONDICIONAIS/Exe30_SomaMultiplicacao/dist/
/SENAI/2_CONDICIONAIS/Exe31_ConversaoMedidas/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe31_ConversaoMedidas/build/
/SENAI/2_CONDICIONAIS/Exe32_Calculadora/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe32_Calculadora/build/
/SENAI/2_CONDICIONAIS/Exe33_DiaSemana/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe33_DiaSemana/build/
/SENAI/2_CONDICIONAIS/Exe34_PositivoNegativo/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe34_PositivoNegativo/build/
/SENAI/2_CONDICIONAIS/Exe35_IndicacaoFilmes/nbproject/private/
/SENAI/2_CONDICIONAIS/Exe35_IndicacaoFilmes/build/
/ALURA/PrimeiroProjeto_StreamMatch/nbproject/private/
/ALURA/PrimeiroProjeto_StreamMatch/build/
/ALURA/Desafio_ContaBancaria/nbproject/private/
/ALURA/Desafio_ContaBancaria/build/
/ALURA/ScreenMatch/nbproject/private/
/ALURA/ScreenMatch/build/
/ALURA/MusicApp/nbproject/private/
/ALURA/MusicApp/build/
