/HelloWorld/target/
/PrimeiroPrograma/target/
/HoraDoSistema/target/
/IdiomaSistema/target/
/ResolucaoTela/target/
/Swing/target/
/HelloWorldSwing/nbproject/private/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/PrimeiroProgramaOLD/target/
/ResolucaoTelaOLD/target/
/primeiroprograma/nbproject/private/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/HelloWorldSwing/build/
/JavaFXApplication1/nbproject/private/
/HelloWorldJavaFX/nbproject/private/
/HelloWorldJavaFX/dist/
/HelloWorldJavaFX/build/
/HelloWorldSwing/dist/
